<section class="about-us-section">
  <div class="container about-us-container">

    <picture class="">
      <source media="(max-width: 767px)" srcset="
       ./img/about-us/mob-team.jpg 1x,
       ./img/about-us/mob-team@2x.jpg 2x" />

      <source media="(min-width: 768px) and (max-width: 1279px)" srcset="
        ./img/about-us/tablet-team.jpg 1x,
        ./img/about-us/tablet-team@2x.jpg 2x" />

      <source media="(min-width: 1280px)" srcset="
        ./img/about-us/desktop-team.jpg 1x,
        ./img/about-us/desktop-team@2x.jpg 2x" />

      <img class="team-photo" src="./img/about-us/mob-team.jpg" alt="ArtistsHub team photo" width="280" height="169" />
    </picture>
    <div class="about-us-info-wrapper">
      <svg class="logo-about-us" width="64" height="64">
        <use href="/img/sprite.svg#icon-logo-part"></use>
      </svg>

      <h3 class="about-us-title">About ArtistsHub</h3>

      <p class="about-us-text">At ArtistsHub, our mission is to connect music lovers with the artists they adore. We
        strive to create a vibrant community where discovering new music is as enjoyable as listening to it.</p>
    </div>
  </div>
</section>