<section class="feedback-section">
  <div class="container feedback-container">
    <h3>Feedback</h3>
    <div class="swiper feedback-swiper">
      <div class="swiper-wrapper"></div>
      <button
        type="button"
        class="swiper-button-prev feedback-button-prev"
        aria-label="previous feedback"
      ></button>
      <button
        type="button"
        class="swiper-button-next feedback-button-next"
        aria-label="next feedback"
      ></button>
    </div>
    <div class="swiper-pagination feedback-pagination"></div>
  </div>
</section>
