<section class="feedback-section" id="feedbacks">
  <div class="container feedback-container">
    <h3 class="visually-hidden">Feedback</h3>

    <div class="swiper feedback-swiper">
      <div class="swiper-wrapper"></div>
    </div>

    <div class="swiper-button-prev feedback-button-prev">
      <svg class="icon-prev">
        <use href="/img/sprite.svg#icon-prev"></use>
      </svg>
    </div>
    <div class="swiper-button-next feedback-button-next">
      <svg class="icon-next">
        <use href="/img/sprite.svg#icon-next"></use>
      </svg>
    </div>
    <div class="swiper-pagination feedback-pagination"></div>
  </div>
</section>