<header class="section-header">
    <div class="container header-container">
        <nav class="header-nav">
            <a href="/" class="header-logo-link">
                <svg class="logo-icon" width="119" height="52">
                    <use href="./img/sprite.svg#logo-icon"></use>
                </svg>
            </a>
            <ul class="header-nav-list">
                <li class="header-nav-item">
                    <a class="header-nav-link" href="#artist-section">Artists</a>
                </li>
                <li class="header-nav-item">
                    <a class="header-nav-link" href="#about-us-section">About Us</a>
                </li>
                <li class="header-nav-item">
                    <a class="header-nav-link" href="#reviews-section">Reviews</a>
                </li>
            </ul>
            <button type="button" class="burger-btn" aria-label="Open menu">
                <svg class="burger-icon" width="16" height="12">
                    <use href="./img/sprite.svg#burger-icon"></use>
                </svg>
            </button>
        </nav>
    </div>
</header>