<!--header-section -->
<div class="mobile-backdrop">
    <div class="mobile-menu">
        <button class="mobile-close" aria-label="Close menu">
            <svg class="icon-close" width="11" height="11">
                <use href="/img/sprite.svg#icon-close"></use>
            </svg>
        </button>
        <ul class="mobile-nav">
            <li class="mob-nav-item">
                <a class="mob-nav-link" href="#artists">Artists</a>
            </li>
            <li class="mob-nav-item">
                <a class="mob-nav-link" href="#about-us">About us</a>
            </li>
            <li class="mob-nav-item">
                <a class="mob-nav-link" href="#feedbacks">Feedback</a>
            </li>
        </ul>
    </div>
</div>