<div class="modal-overlay">
  <div class="leave-feedback-modal">
    <button class="modal-close" aria-label="Close">
      <svg width="32 " height="32" aria-hidden="true">
        <use href="/img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <h2 class="modal-title">Submit feedback</h2>
    <form class="feedback-form">
      <div class="form-group">
        <label for="feedback-name">Name</label>
        <input required id="feedback-name" type="text" name="name" placeholder="Emily" autocomplete="name" />
      </div>
      <div class="form-group">
        <label for="feedback-message">Message</label>
        <textarea required id="feedback-message" name="message" placeholder="Type your message..."
          autocomplete="off"></textarea>
      </div>
      <div class="form-group rating-group">
        <label id="rating-label">Rating</label>
        <div class="rating" role="radiogroup" aria-labelledby="rating-label">
          <button type="button" class="star" aria-label="1 star" value="1">
            <svg aria-hidden="true">
              <use href="img/sprite.svg#icon-star"></use>
            </svg>
          </button>
          <button type="button" class="star" aria-label="2 stars" value="2">
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#icon-star"></use>
            </svg>
          </button>
          <button type="button" class="star" aria-label="3 stars" value="3">
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#icon-star"></use>
            </svg>
          </button>
          <button type="button" class="star" aria-label="4 stars" value="4">
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#icon-star"></use>
            </svg>
          </button>
          <button type="button" class="star" aria-label="5 stars" value="5">
            <svg aria-hidden="true">
              <use xlink:href="img/sprite.svg#icon-star"></use>
            </svg>
          </button>
        </div>
      </div>
      <button type="submit" class="submit-feedback">Submit</button>
      <div class="loader-in" id="feedback-loader" style="display: none"></div>
    </form>
  </div>
</div>