<div class="modal-artists container" id="artistModal">
  <button class="close-modal" aria-label="Close">
    <svg class="close-icon" width="24" height="24">
      <use href="./img/sprite.svg#icon-close"></use>
    </svg>
  </button>
  <div id="modalLoader" class="loader">Load...</div>
  <h2 class="modal-title">Name</h2>
  <div class="modal-body">
    <img src="" alt="Artist Photo" class="hero-artist-img" />
    <div class="artist-content">
      <ul class="artist-info-list">
        <li class="artist-info-item">
          <h3>Years active</h3>
          <p class="artist-info"></p>
        </li>
        <li class="artist-info-item">
          <h3>Sex</h3>
          <p class="artist-info"></p>
        </li>
        <li class="artist-info-item">
          <h3>Members</h3>
          <p class="artist-info"></p>
        </li>
        <li class="artist-info-item">
          <h3>Country</h3>
          <p class="artist-info"></p>
        </li>
      </ul>
      <div class="artist-bio">
        <h3>Biography</h3>
        <p class="artist-info"></p>
      </div>
      <ul class="ganres-list">
        <li class="ganres-item"></li>
        <li class="ganres-item"></li>
        <li class="ganres-item"></li>
        <li class="ganres-item"></li>
      </ul>
    </div>
  </div>
  <ul class="artist-albums-list">
    <li class="artist-albums-item">
      <h3 class="album-name"></h3>
      <ul class="album-track-list">
        <li class="album-track-item">
          <ul class="track-info-list">
            <li class="track-info-item">Track</li>
            <li class="track-info-item">Time</li>
            <li class="track-info-item">Link</li>
          </ul>
        </li>
        <li class="album-track-item"></li>
        <li class="album-track-item"></li>
        <li class="album-track-item"></li>
        <li class="album-track-item"></li>
        <li class="album-track-item"></li>
        <li class="album-track-item"></li>
        <li class="album-track-item"></li>
        <li class="album-track-item"></li>
        <li class="album-track-item"></li>
        <li class="album-track-item"></li>
        <li class="album-track-item"></li>
        <li class="album-track-item"></li>
        <li class="album-track-item"></li>
        <li class="album-track-item"></li>
        <li class="album-track-item"></li>
      </ul>
    </li>
    <li class="artist-albums-item"></li>
    <li class="artist-albums-item"></li>
    <li class="artist-albums-item"></li>
    <li class="artist-albums-item"></li>
    <li class="artist-albums-item"></li>
    <li class="artist-albums-item"></li>
    <li class="artist-albums-item"></li>
  </ul>
</div>