.feedback-section {
  background-color: black;
  margin: 0 auto;
}
.feedback-container {
  padding: 112px 64px;
}
.feedback-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.feedback-stars {
  padding-bottom: 32px;
}

.feedback-text {
  font-family: 'Epilogue', sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.3;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;
  padding-bottom: 32px;
  width: 866px;
}
.feedback-user {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.5;
  color: #fff;
}
