.footer {
  padding: 20px 0;
}

.footer-section {
  background-color: #060307;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
}

.footer-logo-link {
  margin-top: 48px;
  margin-bottom: 32px;
}

.link-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  margin-bottom: 48px;
}

.link-list-item:hover {
  color: lightslategray;
  transition: color 0.4s ease;
}

.rights-sm-container {
  display: flex;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  width: 280px;
  align-items: center;
  flex-direction: column-reverse;
  margin-bottom: 48px;
}

.sm-list {
  padding-top: 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}

.rights-text {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #fff;
  padding-top: 32px;
}

.sm-icon {
  width: 24px;
  height: 24px;
  display: inline-block;
  fill: #fff;
}

.sm-icon:hover {
  fill: #764191;
  transition: fill 0.4s ease;
}

/* ----- STYLES FOR TABLETS ----- */

@media screen and (min-width: 768px) {
  .footer-container {
    width: 704px;
  }

  .footer-logo-link {
    margin-top: 80px;
    margin-bottom: 32px;
  }

  .footer-logo-link .logo-icon {
    color: #764191;
  }

  .link-list {
    display: flex;
    flex-direction: row;
    margin-bottom: 80px;
  }

  .rights-sm-container {
    display: flex;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    width: 704px;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 80px;
  }
}

/* ----- STYLES FOR PC'S ----- */

@media screen and (min-width: 1440px) {
  .footer-container {
    width: 1312px;
  }

  .rights-sm-container {
    width: 1312px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
  }


}